h3 {
font-size: 300px;
color: black;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;
}

p {
font-size: 15px;
color: black;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;
}

@font-face {
    font-family: Galyon;
    src: 'C:\Site\font';
    font-weight: normal;
    font-style: normal;
  }